<!--
weibo_topic  留言主题，发表留言时，自动围绕此话题进行讨论，留言列表也自动显示此话题相关内容，所以请一定设置一个自己有特色的主题，以免和别的话题重复和冲突

weibo_xywh  打开按钮的位置宽高

weibo_callback  授权验证的回调程序地址，必须填写在互联网能成功访问到的绝对地址，也就是以http://开头的地址

weibo_app_key = ""
weibo_app_secret = ""
weibo_token = ""
weibo_token_secret = ""
这4个参数为自己的app和token，如果没有则采用CMP申请的通用版本

weibo_jscallback   javascript回调函数名，在完成授权后将自动调用此函数，用于通知页面更新，参数对象将传递access token


下面是插件所需CMP配置的例子

-->
<cmp 
	
	plugins = "plugins/weibo.swf"
	weibo_topic = "CMP"
	weibo_xywh = "20,20,32,32"

	weibo_callback = "http://cmpweibo.sinaapp.com/weibocallback.htm"
	
	weibo_app_key = ""
	weibo_app_secret = ""
	weibo_token = ""
	weibo_token_secret = ""
	weibo_jscallback = ""
/>
