@charset "utf-8";
/* html tags */
html { margin:0; padding:0; }
body, a, td, th, span, div, p, input, textarea { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; }
body { text-align:center; width:985px; margin:0px auto; padding:0; background:url(../images/bg.gif) repeat-x #eaf5fb; }
form { margin:0; padding:0; }
a:link, a:visited { color:#3198d3; text-decoration:none; }
a:hover { color:#3198d3; text-decoration:underline; }
a img { border:none; }
/* layout */
/* bodyer */
.bodyer { margin-top:5px; clear:both; padding:0; }
/* footer */
.footer { margin-top:10px; clear:both; width:100%; }
/* global class */
.clear { clear:both; height:0px; overflow:hidden; visibility:hidden; font-size:0px; }
.longwords { overflow:hidden; word-wrap: break-word; word-break: break-all; }
/* icons */
.icon { display:-moz-inline-box; -moz-box-align:center; }
.icon { display:inline-block; width:16px; height:16px; background-image: url(../images/icons_16x16.gif); }
.icon_1_01 { background-position: 0 0; }
.icon_1_02 { background-position: -16px 0; }
.icon_1_03 { background-position: -32px 0; }
.icon_1_04 { background-position: -48px 0; }
.icon_1_05 { background-position: -64px 0; }
.icon_1_06 { background-position: -80px 0; }
.icon_1_07 { background-position: -96px 0; }
.icon_1_08 { background-position: -112px 0; }
.icon_1_09 { background-position: -128px 0; }
.icon_1_10 { background-position: -144px 0; }
.icon_1_11 { background-position: -160px 0; }
.icon_1_12 { background-position: -176px 0; }
.icon_1_13 { background-position: -192px 0; }
.icon_1_14 { background-position: -208px 0; }
.icon_1_15 { background-position: -224px 0; }
.icon_1_16 { background-position: -240px 0; }
.icon_1_17 { background-position: -256px 0; }
.icon_1_18 { background-position: -272px 0; }
.icon_1_19 { background-position: -288px 0; }
.icon_1_20 { background-position: -304px 0; }
.icon_2_01 { background-position: 0 -16px; }
.icon_2_02 { background-position: -16px -16px; }
/* pngfix */
.pngfix { behavior: url(/css/iepngfix.htc); }

