@charset "utf-8";
* { padding:0px 0px; margin:0px 0px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; }
html, body { height:100%; }
body { background-color:#F5FAFE; }
a:link, a:visited { color:#000000; text-decoration:none; }
a:hover { color:#428EFF; text-decoration:underline; }
label input { height:14px; }
.tableborder { margin:0px auto; border:1px solid #CAD9EA; margin-bottom:10px; }
.tableborder th { padding:5px 3px; border-bottom:1px solid #CAD9EA; }
.tableborder td { padding:2px 2px; line-height:20px; }
#menu { background:url(top_bg.gif); height:32px; line-height:32px; color:#FFFFFF; font-weight:bold; padding-left:10px; margin-bottom:10px; text-align:center; }
#menu a:link, #menu a:visited { color:#FFFFFF; font-weight:bold; line-height:32px; padding:0px 10px; }
#menu a:hover { text-decoration:underline; }
#footer { text-align:center; margin-top:10px; border-top:1px dashed #CAD9EA; padding-top:5px; color:#666666; }
#footer span { float:right; display:none; }
#footer a:link, #footer a:visited { color:#666666; }
.verifycode { font-size:14px; color:#ffffff; background-color:#000000; width:50px; font-weight:bold; padding:0px 5px; font-family:"Times New Roman", Times, serif; }
